<!DOCTYPE html>
<html>
<head>
    <%- include head %>
</head>
<body>
<div class="singlepage singlepage-app">
    <div class="content clearfix">
        <div class="article_content">
            <% var flag = 1 %>
            <% if (user && (user.name != post.name)) { %>
            <% if ((post.reprint_info.reprint_from != undefined) && (user.name == post.reprint_info.reprint_from.name)) { %>
            <% 		flag = 0 %>
            <% } %>
            <% if ((post.reprint_info.reprint_to != undefined)) { %>
            <% post.reprint_info.reprint_to.forEach(function (reprint_to, index) { %>
            <% if (user.name == reprint_to.name) { %>
            <% flag = 0 %>
            <% } %>
            <% }) %>
            <% } %>
            <% } else { %>
            <% flag = 0 %>
            <% } %>
            <article>
                <div class="article-main"><%- post.post %></div>
                <br />
                <div class="info clearfix">

							<span class="float-l">
									标签：
                                <% if (post.tags.length > 0 && post.tags[0]) { %>
                                <% post.tags.forEach(function (tag, index) { %>
                                <% if (tag) { %>
                                <a class="tag" href="/tags/<%= tag %>"><%= tag %></a>
                                <% } %>
                                <% }) %>
                                <% } else { %>
                                无
                                <% } %>
                            </span>
                    <span class="float-r">
								日期：<%= post.time.minute %>
							</span>
                </div>
                <div class="info clearfix">
							<span class="float-l">
								阅读：<%= post.pv %> |
								评论：<%= post.comments.length %> |
								转载：
                                <% if (post.reprint_info.reprint_to) { %>
                                <%= post.reprint_info.reprint_to.length %>
                                <% } else { %>
                                <%= 0 %>
                                <% } %>
                            </span>
                    <div class="float-r">
                        <% if (post.reprint_info.reprint_from) { %>
                        <a href="/p/<%= post.reprint_info.reprint_from.name %>/<%= post.reprint_info.reprint_from.id %>">原文链接</a>
                        <% } %>
                    </div>
                </div>
            </article>
            <% include comments %>
        </div>
    </div>
</div>
</body>
</html>
