<!DOCTYPE html>
<html>
<head>
    <%- include head %>
</head>
<body>
<div class="singlepage singlepage-app">
    <div class="content clearfix">
        <div class="article_content">
            <% var flag = 1 %>
            <% if (user && (user.name != post.name)) { %>
            <% if ((post.reprint_info.reprint_from != undefined) && (user.name == post.reprint_info.reprint_from.name)) { %>
            <% 		flag = 0 %>
            <% } %>
            <% if ((post.reprint_info.reprint_to != undefined)) { %>
            <% post.reprint_info.reprint_to.forEach(function (reprint_to, index) { %>
            <% if (user.name == reprint_to.name) { %>
            <% flag = 0 %>
            <% } %>
            <% }) %>
            <% } %>
            <% } else { %>
            <% flag = 0 %>
            <% } %>
            <article>
                <div class="article-main"><%- post.post %></div>
                <br />
                <div class="info clearfix">

							<span class="float-l">
									标签：
                                <% if (post.tags.length > 0 && post.tags[0]) { %>
                                <% post.tags.forEach(function (tag, index) { %>
                                <% if (tag) { %>
                                <a class="tag" href="/tags/<%= tag %>"><%= tag %></a>
                                <% } %>
                                <% }) %>
                                <% } else { %>
                                无
                                <% } %>
                            </span>
                    <span class="float-r">
								日期：<%= post.time.minute %>
							</span>
                </div>
                <div class="info clearfix">
							<span class="float-l">
								阅读：<%= post.pv %> |
								评论：<%= post.comments.length %> |
								转载：
                                <% if (post.reprint_info.reprint_to) { %>
                                <%= post.reprint_info.reprint_to.length %>
                                <% } else { %>
                                <%= 0 %>
                                <% } %>
                            </span>
                    <div class="float-r">
                        <% if (post.reprint_info.reprint_from) { %>
                        <a href="/p/<%= post.reprint_info.reprint_from.name %>/<%= post.reprint_info.reprint_from.id %>">原文链接</a>
                        <% } %>
                    </div>
                </div>
            </article>
            <% include comments %>
            <% include comment %>
        </div>
    </div>
    <script src="/js/jquery-2.0.3.min.js"></script>
    <script src="/js/jquery.qrcode.js"></script>
    <script src="/js/help.js"></script>
    <script src="/js/markdown_extend.js"></script>
    <script>
        (function () {
            $('.article-main').html(ME($('.article-main').html()));
            var $name = $('#form_comment_name'),
                $email = $('#form_comment_email'),
                $comment = $('#form_comment_content'),
                $comments = $('.comments'),
                data,
                timeFlag = 0,
                commentAjax = function (url, data) {
                    $.ajax(
                        {
                            type: 'POST',
                            url: url,
                            data: data,
                            success: function (comment) {
                                $('<div class="commented pos-rela"></div>')
                                    .append($('<a class="comment_head pos-abso"></a>').append($('<img src="' + comment.head + '">')))
                                    .append(
                                        $('<div class="comment_content"></div>')
                                            .append($('<p>' + comment.content + '</p>'))
                                            .append(
                                                $('<p class="info"></p>')
                                                    .append($('<a href="javascript:;">' + comment.name + '</a>'))
                                                    .append($('<span>回复于' + comment.time + '</span>'))
                                            )
                                    )
                                    .prependTo($comments);
                                timeFlag = 0;
                                $comment.text('');
                                window.postMessage('true');
                            }
                        }
                    )
                };

            $('.btn-comment').click(function () {
                if (timeFlag === 1) {
                    return false;
                }
                timeFlag = 1;
                if (!$comment.text()) return false;

                data = {};
                data['name'] = $name.val() ? $name.val() : '匿名';
                data['email'] = $email.val() ? $email.val() : '838186163@qq.com';
                data['content'] = $comment.text();
                commentAjax(location.pathname, data);
            });
        })();
    </script>
</div>
</body>
</html>
