<!DOCTYPE html>
<html>
	<head>
		<% include head %>
		<link rel="stylesheet" href="/stylesheets/post.css"/>
	</head>
	<body>
		<div class="post">
			<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
					<ul class="nav navbar-nav">
						<li>
							<a href="/" class="home pos-abso" title="返回首页"><span class="glyphicon glyphicon-home"></span></a>
						</li>
						<li class="active">
							<a href="/edit/<%= post._id %>" title="编辑"><span class="glyphicon glyphicon-edit"></span></a>
						</li>
						<li>
							<a href="/posted/<%= user.name %>" title="个人文章中心"><span class="glyphicon glyphicon-th-list"></span></a>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="/u/<%= user.name %>" class="user_head" title="<%= user.name %>">
								<img src="<%= user.head %>" alt="<%= user.name %>">
							</a>
						</li>
						<li class="navbar-right logout">
							<a href="/logout"><span class="glyphicon glyphicon-log-out"></span></a>
						</li>
					</ul>
				</div>
			</nav>
			<div class="textarea clearfix pos-rela">
				<div class="post-title pos-abso">
					<div class="container-shadow">
						<input type="text" class="post-title_input" id="title" value="<%= post.title %>" placeholder="文章标题">
					</div>
				</div>
				<div class="editor-container pull-left">
					<div class="container-shadow pull-right">
						<div class="editor">
							<textarea oninput="this.editor.update()" id="post"  name="post"><%- post.post %></textarea>
						</div>
					</div>
				</div>
				<div class="preview-container pull-right">
					<div class="container-shadow pull-left">
						<div class="preview">
							<div id="preview"></div>
						</div>
					</div>
				</div>
			</div>
			<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					  <span class="sr-only">Toggle navigation</span>
					  <span class="icon-bar"></span>
					  <span class="icon-bar"></span>
					  <span class="icon-bar"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse">
					<form class="navbar-form clearfix" method="post">
						<div class="form-group navbar-left">
							<span class="add-on glyphicon glyphicon-tags"></span>
						</div>
						<div class="form-group navbar-left">
							<input type="text" name="tag" id="tag" value="<%= post.tags %>" class="form-control" placeholder="标签1，标签2，标签3...">
						</div>
						<div class="btn-group dropup navbar-right">
							<button type="button" id="post-btn" class="btn btn-default">更新</button>
						</div>
					</form>
				</div>
			</nav>
		</div>
		<input type="hidden" id="hidden" value="<%= user.name %>">
		<script src="/javascripts/jquery-2.0.3.min.js"></script>
		<script src="/javascripts/bootstrap.js"></script>
		<script type="text/javascript" src="/javascripts/markdown.js"></script>
		<script src="/javascripts/jquery.noty.packaged.min.js"></script>
		<script src="/javascripts/postImg.js"></script>
	</body>
</html>