<!DOCTYPE html>
<html>
	<head>
		<% include head %>
	</head>	
	<body>
		<div class="home-page">
			<div class="page_header">
				<% if (user) { %>
					<div class="pull-right"><a href="/logout">退出</a></div>
				<% } else { %>
					<div class="pull-right"><a href="/reg">注册</a><a href="/login">登录</a></div>
				<% } %>				
				<div class="container">
					<div class="row">
						<div class="col-sm-3 col-sm-offset-1">
							<h1 class="motto">难得糊涂</h1>
						</div>
						<div class="col-sm-3 col-sm-offset-5 poem">
							<p>曾经沧海难为水，</p>
							<p>除却巫山不是云。</p>
							<p>取次花丛懒回顾，</p>
							<p>半缘修道半缘君。</p>
						</div>
					</div>
					<div class="bottom">
							<% if (user) { %>
							<div class="head">							
								<a href="#" title="<%= user.name %>">
									<img src="<%= user.head %>" alt="<%= user.name %>">
								</a>
							</div>
							<% } else { %>
							<div class="no-head" title="未登录撒">								
								 <span class="glyphicon glyphicon-remove-circle"></span>
							</div>
							<% } %>
					</div>
				</div>
			</div>	
			<div id="container" class="container">
				<div class="search-article">
					<form action="/search" method="GET">
						<div class="col-xs-2">
						    <input type="text" class="form-control search" name="keyword" placeholder="检索文章">
						</div>
						<button type="submit" class="btn btn-primary">搜索</button>
					</form>
				</div>		  
				
					<% posts.forEach(function (post, index) { %>
				<article class="pos-rela">
					<h2>
						<a href="/p/<%= post._id %>"><%= post.title %></a>
					</h2>
					<a href="/u/<%= post.name %>" class="pos-abso author_head">
						<img src="<%= post.head %>" class="r_head" />
					</a>
					  <% if (post.reprint_info.reprint_from) { %>
						<br><a href="/u/<%= post.reprint_info.reprint_from.name %>/<%= post.reprint_info.reprint_from.day %>/<%= post.reprint_info.reprint_from.title %>">原文链接</a>
					  <% } %>
					<div class="article">
						<%- post.post.substr(0, 200) %>
					</div>
					<p class="info clearfix">
					<% if (post.tags.length > 1) { %>
						<span class="pull-left">标签：
							<% post.tags.forEach(function (tag, index) { %>
							  <% if (tag) { %>
								<a class="tag" href="/tags/<%= tag %>"><%= tag %></a>
							  <% } %>
							<% }) %>
						</span>
					<% } %>
						<span class="pull-right"><%= post.time.minute %></span>				
					</p>
				</article>
					<% }) %>			
				<% include paging %>				
			</div>
			<% include footer %>
		</div>
 	</body>
</html>