<!DOCTYPE html>
<html>
	<head>
		<% include head %>
	</head>	
	<body>
		<div class="home-page">
			<div class="home-page_nav">
				<div class="container clearfix">
					<div class="collapse navbar-collapse">
						<% if (user) { %>
						<ul class="nav navbar-nav">
							<li class="active">
								<a href="/" title="首页"><span class="glyphicon glyphicon-home"></span></a>
							</li>
							<li>
								<a href="/post" title="发表文章"><span class="glyphicon glyphicon-leaf"></span></a>
							</li>
						</ul>
						<form class="navbar-form navbar-left" action="/search" method="GET">
							<input type="text" class="form-control" name="keyword" placeholder="检索文章">
						</form>
						<ul class="nav navbar-nav navbar-right">
							<li><a href="#" title="<%= user.name %>" class="head-pic"><img src="<%= user.head %>" alt="<%= user.name %>"></a></li>
							<li><a href="/logout" title="退出"><span class="glyphicon glyphicon-log-out"></span></a></li>
						</ul>
						<% } else { %>
						<ul class="nav navbar-nav">
							<li class="active">
								<a href="/"><span class="glyphicon glyphicon-home"></span></a>
							</li>
						</ul>
						<form class="navbar-form navbar-left" action="/search" method="GET">
							<input type="text" class="form-control" name="keyword" placeholder="检索文章">
						</form>
						<ul class="nav navbar-nav navbar-right">
							<li>
								<a href="/login" title="登录"><span class="glyphicon glyphicon-log-in"></span></a>
							</li>
						</ul>
						<% } %>
					</div>
				</div>
			</div>
			<div class="banner"></div>
			<div id="container" class="container">
				<div class="row-fluid">
					<div class="span9">
							<% posts.forEach(function (post, index) { %>
						<article class="pos-rela">
							<h2>
								<a href="/p/<%= post.name %>/<%= post._id %>"><%= post.title %></a>
							</h2>
							<a href="/u/<%= post.name %>" class="pos-abso author_head">
								<img src="<%= post.head %>" class="r_head" />
							</a>
							  <% if (post.reprint_info.reprint_from) { %>
								<br><a href="/u/<%= post.reprint_info.reprint_from.name %>/<%= post.reprint_info.reprint_from.day %>/<%= post.reprint_info.reprint_from.title %>">原文链接</a>
							  <% } %>
							<div class="article">
								<%- post.post.substr(0, 200) %>
							</div>
							<p class="info clearfix">
							<% if (post.tags.length > 1) { %>
								<span class="pull-left">标签：
									<% post.tags.forEach(function (tag, index) { %>
									  <% if (tag) { %>
										<a class="tag" href="/tags/<%= tag %>"><%= tag %></a>
									  <% } %>
									<% }) %>
								</span>
							<% } %>
								<span class="pull-right"><%= post.time.minute %></span>				
							</p>
						</article>
							<% }) %>
						<% include paging %>
					</div>
					<div class="span3">
						侧栏
					</div>
				</div>
				
							
			</div>
			<% include footer %>
		</div>
 	</body>
</html>