<!DOCTYPE html>
<html>
	<head>
		<% include head %>
	</head>
	<body>
		<div class="home-page">
			<div class="head">
				<div class="operate">
				</div>
				<div class="user-head">
					<a href="javascript:;"><img src="https://avatars3.githubusercontent.com/u/3634578?s=460"></a>
				</div>
			</div>
			<div class="body">
					<% posts.forEach(function (post, index) { %>
				<article class="pos-rela">
					<h1><a href="/p/<%= post.name %>/<%= post._id %>" class="title"><%= post.title.replace('<span>','').replace('</span>', '') %></a></h1>
					<% if (user && user.name === post.name) { %>
					<!-- <a href="/posted/<%= post.name %>" class="pos-abso author_info author_head">
						<img src="<%= post.head %>" class="r_head" />
					</a> -->
					<% } else { %>
					<!-- <a href="/oposted/<%= post.name %>" class="pos-abso author_head">
						<img src="<%= post.head %>" class="r_head" />
					</a> -->
					<% } %>
					<div class="article">
						<%- post.post.substr(0, 200) + "···" %>
					</div>
					<p class="info clearfix">
					<% if (post.tags.length > 0 && post.tags[0]) { %>
						<span class="pull-left">标签：
							<% post.tags.forEach(function (tag, index) { %>
							  <% if (tag) { %>
								<a class="tag" href="/tags/<%= tag %>"><%= tag %></a>
							  <% } %>
							<% }) %>
						</span>
					<% } %>
						<span class="pull-right"><%= post.time.minute %></span>
					</p>
				</article>
				<hr class="separate pos-rela"/>
					<% }) %>
				<% include paging %>
			</div>
			<% include footer %>
		</div>
 	</body>
</html>