<!DOCTYPE html>
<html>
	<head>
		<% include head %>
	</head>	
	<body>
		<div class="home-page">			
			<div class="head">
				<div class="operate">
				<% if (user) { %>
					<a href="/logout" class="glyphicon glyphicon-off"></a>
				<% } %>
				</div>				
				<div class="user-head">
					
					<a href="javascript:;"><img src="<%= user.head %>" alt="<%= user.name%>"></a>
				</div>
			</div>
<!-- 			<div class="home-page_nav">
				<div class="container clearfix">
						<div class="logo pull-left">
							<h1 class="clearfix">
								<span class="sp1 pull-left">H</span>
								<span class="sp2 pull-left">15</span>
								<span class="sp3 pull-left">H</span>
							</h1>
						</div>					
						<% if (user) { %>
						<ul class="head-nav pull-right">
							<li>
								<a href="javascript:;">
									<form action="/search" method="GET">
										<input type="text" autocomplete="off" class="search-input" name="keyword" placeholder="检索文章">
									</form>
								</a>
							</li>
							<li class="txt active">
								<a href="/" title="首页"><span class="glyphicon glyphicon-home"></span></a>
							</li>
							<li class="txt">
								<a href="javascript:;" class="more">
									<span data-name="<%= user.name %>" class="user-center">更多</span>
								</a>
							</li>													
						</ul>
						<% } else { %>						
						<ul class="nav navbar-nav navbar-right">
							<li>
								<a href="/login" title="登录">
									<span class="glyphicon glyphicon-log-in"></span>
								</a>
							</li>
						</ul>
						<% } %>
				</div>
			</div> -->
			<div class="body">
					<% posts.forEach(function (post, index) { %>
				<article class="pos-rela">
					<a href="/p/<%= post.name %>/<%= post._id %>" class="title"><%- post.title %></a>
					<% if (user && user.name === post.name) { %>
					<!-- <a href="/posted/<%= post.name %>" class="pos-abso author_info author_head">
						<img src="<%= post.head %>" class="r_head" />
					</a> -->
					<% } else { %>
					<!-- <a href="/oposted/<%= post.name %>" class="pos-abso author_head">
						<img src="<%= post.head %>" class="r_head" />
					</a> -->
					<% } %>
					<div class="article">
						<%- post.post.substr(0, 200) + "···" %>
					</div>
					<p class="info clearfix">
					<% if (post.tags.length > 0 && post.tags[0]) { %>
						<span class="pull-left">标签：
							<% post.tags.forEach(function (tag, index) { %>
							  <% if (tag) { %>
								<a class="tag" href="/tags/<%= tag %>"><%= tag %></a>
							  <% } %>
							<% }) %>
						</span>
					<% } %>
						<span class="pull-right"><%= post.time.minute %></span>				
					</p>
				</article>
				<hr class="separate pos-rela"/>
					<% }) %>
				<% include paging %>
			</div>
			<% include footer %>
		</div>
 	</body>
</html>