<!DOCTYPE html>
<html>
	<head>
		<% include head %>
		<link rel="stylesheet" href="/stylesheets/post.css"/>
	</head>
	<body>
		<div class="post">
			<div class="navbar navbar-fixed-top">
				<div class="container clearfix">
					<a class="logo float-l" href="/">HwH</a>
					<ul class="nav navbar-nav clearfix float-l">
						<li>
							<a href="/">首页</a>
						</li>
						<li class="active">
							<a href="/post" title="发布文章">发布文章</a>
						</li>
						<li>
							<a href="/posted/<%= user.name %>" title="个人文章中心">个人文章中心</a>
						</li>
					</ul>
					<ul class="nav navbar-nav clearfix float-r">
						<li>
							<a href="/info/<%= user.name %>" class="user_head" title="<%= user.name %>">
								<img src="<%= user.head %>" alt="<%= user.name %>">
							</a>
						</li>
						<li class="logout">
							<a href="/logout">退出</span></a>
						</li>
					</ul>
				</div>
			</div>
			<div class="textarea clearfix pos-rela">
					<div class="post-title pos-abso wtf">
						<div class="container-shadow">
							<input type="text" class="post-title_input" id="title" placeholder="文章标题">
						</div>
					</div>
					<div class="editor-container float-l" id="editor-container">
						<div class="container-shadow  float-r">
							<div class="editor">
								<textarea oninput="this.editor.update()" id="post"  name="post"></textarea>
							</div>
						</div>
					</div>
					<div class="preview-container float-r">
						<div class="container-shadow float-l ">
							<div class="preview">
								<div id="preview"></div>
							</div>
						</div>
					</div>
			</div>
			<nav class="navbar navbar-fixed-bottom static">
				<div class="container clearfix">
					<form class="navbar-form clearfix" method="post">
						<span class="add-on glyphicon glyphicon-tags"></span>
						<input type="text" name="tag" id="tag" class="text" placeholder="标签1，标签2，标签3...">
						<button type="button" id="post-btn" class="btn float-r">发布</button>
					</form>
				</div>
			</nav>
		</div>
		<input type="hidden" id="hidden" value="<%= user.name %>">
		<script src="/javascripts/jquery-2.0.3.min.js"></script>
		<script src="/javascripts/bootstrap.js"></script>
		<script type="text/javascript" src="/javascripts/markdown.js"></script>
		<script src="/javascripts/jquery.noty.packaged.min.js"></script>
		<script src="/javascripts/postImg.js"></script>

  </body>
</html>